* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin-right: 40px;
}

a {
  text-decoration: none;
  color: #5e81ac;
  font-family: "Poppins";
  font-size: 30px;
}
a:hover,
#currrentpage {
  color: orange;
}
.container {
  margin: auto;
  padding: 0 auto;
  background-color: #e5e9f0;
  font-size: 22px;
  height: 125.367;
}
img {
  height: 79.406px;
}

