.badge {
  line-height: var(--leading-4);

  padding: 0.3rem 1rem;

  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 9999px;

  letter-spacing: 0.05rem;
  width: max-content;

  &--large {
    padding: 0.4rem 1rem;

    font-size: 1.4rem;
  }

  &--dot {
    display: flex;
    align-items: center;
  }
  &--remove {
    display: flex;
    align-items: center;
  }
  &--rounded {
    border-radius: 0.4rem;
  }
  &__remove-icon {
    margin-left: 0.5rem;
    cursor: pointer;
  }
  &__dot-icon {
    margin-right: 0.5rem;
  }
}
