.alert {
  max-width: 89.6rem;
  padding: 4.8rem 1.6rem;
  margin: auto;
  font-size: var(--text-sm);
  line-height: var(--leading-5);

  &__container {
    border-radius: 6px;
    padding: 1.6rem;
    display: flex;
  }
  &__accent {
    border-left-width: 4px;
    border-left-style: solid;
    border-radius: 0;
  }
  &__title {
    font-weight: 500;
    &--right-action {
      display: inline;
    }
    &--close {
      display: inline;
    }
  }
  &__content {
    width: 100%;
    & > * {
      margin-bottom: 0.3rem;
      &:last-child {
        margin-bottom: 0rem;
      }
    }
  }

  svg {
    height: 2rem;
    width: 2rem;
    margin-right: 1.2rem;
  }
  ul {
    margin-left: 2rem;
  }
  a {
    font-weight: 500;
    text-decoration: none;
  }
  &__actions {
    margin-top: 1.6rem;
    & > * {
      padding: 0.6rem 0rem;
      margin-right: 2rem;
      &:last-child {
        margin-right: 0rem;
      }
    }
  }
  &__right-action {
    display: inline;
    float: right;
  }
  &__close {
    display: inline;
    float: right;
    margin-right: 0rem;
    cursor: pointer;
  }
}
