h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.8rem;
}
h6 {
  font-size: 1.6rem;
}

// THIS IS A TEMPORARY SOLUTION WHILE WAITING FOR CSS ATTR() LV3 TO BE IMPLEMENTED TO BROWSERS

.heading {
  // DEFAULT
  color: black;
  // font-weight: 600;

  &--center {
    text-align: center;
  }
  &--italic {
    font-style: italic;
  }
}
